Notes for this can be found here: https://ivelasq.github.io/bookclub-ppp/

In [1]:
pwd

'/Users/karimbadr/practical-python/Work'

In [2]:
%run hello.py

hello world!
Karim
Test1

In [3]:
a=3+4
b=a*2

In [4]:
a+b

21

In [5]:
_-1

20

In [6]:
a,b=3+4,a*2
print(a)
print(b)

7
14

In [7]:
bill_thickness=0.11*0.001
sears_height=442
num_bils=1
day=1

while num_bils*bill_thickness<sears_height:
    print(day,num_bils,num_bils*bill_thickness)
    day=day+1
    num_bils=num_bils*2

print('Number of days',day)
print('Number of bills',num_bils)
print('Final Height',num_bils*bill_thickness)

1 1 0.00011
2 2 0.00022
3 4 0.00044
4 8 0.00088
5 16 0.00176
6 32 0.00352
7 64 0.00704
8 128 0.01408
9 256 0.02816
10 512 0.05632
11 1024 0.11264
12 2048 0.22528
13 4096 0.45056
14 8192 0.90112
15 16384 1.80224
16 32768 3.60448
17 65536 7.20896
18 131072 14.41792
19 262144 28.83584
20 524288 57.67168
21 1048576 115.34336
22 2097152 230.68672
Number of days 23
Number of bills 4194304
Final Height 461.37344

In [8]:
a=3+4
b=a*2
print(b)

14

In [10]:
a=3+5
#This is a comment
b=a*2
print(b)

16

In [11]:
height=442
_height=442
height2=442
height_1=442
2height=442

SyntaxError: invalid decimal literal (973014741.py, line 5)

In [12]:
height=442
type(height)

int

In [13]:
height=442.0
type(height)

float

In [14]:
height='Really Tall'
type(height)

str

In [15]:
heigh="R"
type(height)

str

In [16]:
name="Karim"
Name="Karim"

In [17]:
name==Name

True

In [18]:
while num_bills * bill_thickness < sears_height:
    print(day, num_bills, num_bills * bill_thickness)
        day = day + 1 # ERROR
    num_bills = num_bills * 2

IndentationError: unexpected indent (4107431178.py, line 3)

In [19]:
print(a)
print(b)

8
16

In [20]:
if a>b:
    print('Computer says no')
else:
    print('Computer says yes')

Computer says yes

In [21]:
if a>b:
    print('Computer says no')
elif a==b:
    print('Computer says yes')
else:
    print('Computer says mauybe')

Computer says mauybe

In [22]:
print('My name is',name)

My name is Karim

In [25]:
print('Hello',end=' ')
print('karim')

Hello karim

In [26]:
name=input('Enter your name:')
print('Your name is',name)

Your name is Karim

In [28]:
if a>b:
    pass
else:
    print('Computer says false')

Computer says false

In [35]:
%run bounce.py

0 60.0
1 36.0
2 21.6
3 12.96
4 7.776
5 4.6656
6 2.7994
7 1.6796
8 1.0078
9 0.6047

In [32]:
round(4.788,2)

4.79

To increase (increment) by 1: += 1

In [39]:
j=2
j+=2
j

4

Exercise 1.6

In [40]:
%run sears.py

1 1 0.00011

NameError: name 'days' is not defined

In [42]:
%%bash
python hello.py

hello world!
Karim
Test1

# Section 1.3

In [43]:
a=True
b=False

In [44]:
type(a)

bool

In [46]:
a+1

2

In [47]:
b+1

1

In [50]:
c=4+True
c

5

In [51]:
if b==0:
    print('b is false')

b is false

In [52]:
2!=3

True

In [63]:
a=38
b=38.0
type(a)

int

In [64]:
type(b)

float

In [68]:
type(a)

int

In [69]:
a=2.1+4.2

In [70]:
a

6.300000000000001

In [71]:
a=2.10+4.20

In [72]:
a

6.300000000000001

In [75]:
a==6.3

False

In [76]:
import decimal

In [81]:
from decimal import Decimal


a=Decimal('0.1')
b=a+a
print(b)

0.2

https://www.pythontutorial.net/advanced-python/python-decimal/

In [82]:
abs(-2)

2

In [83]:
import math

In [84]:
a=math.sqrt(2)

In [85]:
a

1.4142135623730951

In [86]:
a=1
b=2
c=3.2

In [87]:
if b>=a and b<=c:
    print(' b is between a and c')

 b is between a and c

In [88]:
if not (b<a or b>c):
    print('b is still between a and c')

b is still between a and c

In [89]:
a=int(a)
a

1

In [90]:
2*a==2

True

In [94]:
d=2.2
d=int(d)
d

2

In [96]:
d=2.2
d+d==4.4

True

In [93]:
2*d

4

In [97]:
float(d)

2.2

In [98]:
d=3
float(d)

3.0

In [99]:
a=3.14159
int(a)

3

In [100]:
b='3.1419'
float(b)

3.1419

In [102]:
%run mortgage.py

Total paid 966279.5999999957

In [19]:
%run mortgage.py

Month 1 Total paid 2684.11 Remaining 499399.22
Month 2 Total paid 5368.22 Remaining 498795.94
Month 3 Total paid 8052.33 Remaining 498190.15
Month 4 Total paid 10736.44 Remaining 497581.83
Month 5 Total paid 13420.55 Remaining 496970.98
Month 6 Total paid 16104.66 Remaining 496357.58
Month 7 Total paid 18788.77 Remaining 495741.63
Month 8 Total paid 21472.88 Remaining 495123.11
Month 9 Total paid 24156.99 Remaining 494502.01
Month 10 Total paid 26841.1 Remaining 493878.33
Month 11 Total paid 29525.21 Remaining 493252.04
Month 12 Total paid 32209.32 Remaining 492623.15
Month 13 Total paid 34893.43 Remaining 491991.64
Month 14 Total paid 37577.54 Remaining 491357.49
Month 15 Total paid 40261.65 Remaining 490720.7
Month 16 Total paid 42945.76 Remaining 490081.26
Month 17 Total paid 45629.87 Remaining 489439.16
Month 18 Total paid 48313.98 Remaining 488794.38
Month 19 Total paid 50998.09 Remaining 488146.91
Month 20 Total paid 53682.2 Remaining 487496.75
Month 21 Total paid 56366.31 Remaining 486843.87
Month 22 Total paid 59050.42 Remaining 486188.28
Month 23 Total paid 61734.53 Remaining 485529.96
Month 24 Total paid 64418.64 Remaining 484868.89
Month 25 Total paid 67102.75 Remaining 484205.06
Month 26 Total paid 69786.86 Remaining 483538.47
Month 27 Total paid 72470.97 Remaining 482869.11
Month 28 Total paid 75155.08 Remaining 482196.95
Month 29 Total paid 77839.19 Remaining 481522.0
Month 30 Total paid 80523.3 Remaining 480844.23
Month 31 Total paid 83207.41 Remaining 480163.64
Month 32 Total paid 85891.52 Remaining 479480.21
Month 33 Total paid 88575.63 Remaining 478793.93
Month 34 Total paid 91259.74 Remaining 478104.8
Month 35 Total paid 93943.85 Remaining 477412.79
Month 36 Total paid 96627.96 Remaining 476717.9
Month 37 Total paid 99312.07 Remaining 476020.11
Month 38 Total paid 101996.18 Remaining 475319.42
Month 39 Total paid 104680.29 Remaining 474615.81
Month 40 Total paid 107364.4 Remaining 473909.27
Month 41 Total paid 110048.51 Remaining 473199.78
Month 42 Total paid 112732.62 Remaining 472487.33
Month 43 Total paid 115416.73 Remaining 471771.92
Month 44 Total paid 118100.84 Remaining 471053.53
Month 45 Total paid 120784.95 Remaining 470332.14
Month 46 Total paid 123469.06 Remaining 469607.75
Month 47 Total paid 126153.17 Remaining 468880.34
Month 48 Total paid 128837.28 Remaining 468149.89
Month 49 Total paid 131521.39 Remaining 467416.41
Month 50 Total paid 134205.5 Remaining 466679.87
Month 51 Total paid 136889.61 Remaining 465940.26
Month 52 Total paid 139573.72 Remaining 465197.56
Month 53 Total paid 142257.83 Remaining 464451.78
Month 54 Total paid 144941.94 Remaining 463702.88
Month 55 Total paid 147626.05 Remaining 462950.87
Month 56 Total paid 150310.16 Remaining 462195.72
Month 57 Total paid 152994.27 Remaining 461437.43
Month 58 Total paid 155678.38 Remaining 460675.97
Month 59 Total paid 158362.49 Remaining 459911.34
Month 60 Total paid 161046.6 Remaining 459143.53
Month 61 Total paid 164730.71 Remaining 457372.52
Month 62 Total paid 168414.82 Remaining 455594.13
Month 63 Total paid 172098.93 Remaining 453808.33
Month 64 Total paid 175783.04 Remaining 452015.09
Month 65 Total paid 179467.15 Remaining 450214.37
Month 66 Total paid 183151.26 Remaining 448406.16
Month 67 Total paid 186835.37 Remaining 446590.4
Month 68 Total paid 190519.48 Remaining 444767.09
Month 69 Total paid 194203.59 Remaining 442936.17
Month 70 Total paid 197887.7 Remaining 441097.63
Month 71 Total paid 201571.81 Remaining 439251.43
Month 72 Total paid 205255.92 Remaining 437397.53
Month 73 Total paid 208940.03 Remaining 435535.91
Month 74 Total paid 212624.14 Remaining 433666.54
Month 75 Total paid 216308.25 Remaining 431789.37
Month 76 Total paid 219992.36 Remaining 429904.38
Month 77 Total paid 223676.47 Remaining 428011.54
Month 78 Total paid 227360.58 Remaining 426110.81
Month 79 Total paid 231044.69 Remaining 424202.16
Month 80 Total paid 234728.8 Remaining 422285.56
Month 81 Total paid 238412.91 Remaining 420360.97
Month 82 Total paid 242097.02 Remaining 418428.37
Month 83 Total paid 245781.13 Remaining 416487.71
Month 84 Total paid 249465.24 Remaining 414538.97
Month 85 Total paid 253149.35 Remaining 412582.1
Month 86 Total paid 256833.46 Remaining 410617.08
Month 87 Total paid 260517.57 Remaining 408643.88
Month 88 Total paid 264201.68 Remaining 406662.45
Month 89 Total paid 267885.79 Remaining 404672.77
Month 90 Total paid 271569.9 Remaining 402674.79
Month 91 Total paid 275254.01 Remaining 400668.5
Month 92 Total paid 278938.12 Remaining 398653.84
Month 93 Total paid 282622.23 Remaining 396630.79
Month 94 Total paid 286306.34 Remaining 394599.3
Month 95 Total paid 289990.45 Remaining 392559.36
Month 96 Total paid 293674.56 Remaining 390510.91
Month 97 Total paid 297358.67 Remaining 388453.93
Month 98 Total paid 301042.78 Remaining 386388.38
Month 99 Total paid 304726.89 Remaining 384314.22
Month 100 Total paid 308411.0 Remaining 382231.42
Month 101 Total paid 312095.11 Remaining 380139.94
Month 102 Total paid 315779.22 Remaining 378039.75
Month 103 Total paid 319463.33 Remaining 375930.8
Month 104 Total paid 323147.44 Remaining 373813.07
Month 105 Total paid 326831.55 Remaining 371686.52
Month 106 Total paid 330515.66 Remaining 369551.1
Month 107 Total paid 334199.77 Remaining 367406.79
Month 108 Total paid 337883.88 Remaining 365253.54
Month 109 Total paid 340567.99 Remaining 364091.32
Month 110 Total paid 343252.1 Remaining 362924.25
Month 111 Total paid 345936.21 Remaining 361752.33
Month 112 Total paid 348620.32 Remaining 360575.52
Month 113 Total paid 351304.43 Remaining 359393.81
Month 114 Total paid 353988.54 Remaining 358207.17
Month 115 Total paid 356672.65 Remaining 357015.59
Month 116 Total paid 359356.76 Remaining 355819.05
Month 117 Total paid 362040.87 Remaining 354617.52
Month 118 Total paid 364724.98 Remaining 353410.98
Month 119 Total paid 367409.09 Remaining 352199.41
Month 120 Total paid 370093.2 Remaining 350982.8
Month 121 Total paid 372777.31 Remaining 349761.12
Month 122 Total paid 375461.42 Remaining 348534.35
Month 123 Total paid 378145.53 Remaining 347302.47
Month 124 Total paid 380829.64 Remaining 346065.45
Month 125 Total paid 383513.75 Remaining 344823.28
Month 126 Total paid 386197.86 Remaining 343575.93
Month 127 Total paid 388881.97 Remaining 342323.39
Month 128 Total paid 391566.08 Remaining 341065.63
Month 129 Total paid 394250.19 Remaining 339802.62
Month 130 Total paid 396934.3 Remaining 338534.36
Month 131 Total paid 399618.41 Remaining 337260.81
Month 132 Total paid 402302.52 Remaining 335981.95
Month 133 Total paid 404986.63 Remaining 334697.76
Month 134 Total paid 407670.74 Remaining 333408.23
Month 135 Total paid 410354.85 Remaining 332113.32
Month 136 Total paid 413038.96 Remaining 330813.02
Month 137 Total paid 415723.07 Remaining 329507.29
Month 138 Total paid 418407.18 Remaining 328196.13
Month 139 Total paid 421091.29 Remaining 326879.5
Month 140 Total paid 423775.4 Remaining 325557.39
Month 141 Total paid 426459.51 Remaining 324229.77
Month 142 Total paid 429143.62 Remaining 322896.62
Month 143 Total paid 431827.73 Remaining 321557.91
Month 144 Total paid 434511.84 Remaining 320213.63
Month 145 Total paid 437195.95 Remaining 318863.74
Month 146 Total paid 439880.06 Remaining 317508.23
Month 147 Total paid 442564.17 Remaining 316147.07
Month 148 Total paid 445248.28 Remaining 314780.24
Month 149 Total paid 447932.39 Remaining 313407.71
Month 150 Total paid 450616.5 Remaining 312029.47
Month 151 Total paid 453300.61 Remaining 310645.48
Month 152 Total paid 455984.72 Remaining 309255.73
Month 153 Total paid 458668.83 Remaining 307860.18
Month 154 Total paid 461352.94 Remaining 306458.82
Month 155 Total paid 464037.05 Remaining 305051.62
Month 156 Total paid 466721.16 Remaining 303638.56
Month 157 Total paid 469405.27 Remaining 302219.61
Month 158 Total paid 472089.38 Remaining 300794.75
Month 159 Total paid 474773.49 Remaining 299363.95
Month 160 Total paid 477457.6 Remaining 297927.19
Month 161 Total paid 480141.71 Remaining 296484.45
Month 162 Total paid 482825.82 Remaining 295035.69
Month 163 Total paid 485509.93 Remaining 293580.89
Month 164 Total paid 488194.04 Remaining 292120.04
Month 165 Total paid 490878.15 Remaining 290653.09
Month 166 Total paid 493562.26 Remaining 289180.04
Month 167 Total paid 496246.37 Remaining 287700.85
Month 168 Total paid 498930.48 Remaining 286215.49
Month 169 Total paid 501614.59 Remaining 284723.94
Month 170 Total paid 504298.7 Remaining 283226.18
Month 171 Total paid 506982.81 Remaining 281722.18
Month 172 Total paid 509666.92 Remaining 280211.92
Month 173 Total paid 512351.03 Remaining 278695.36
Month 174 Total paid 515035.14 Remaining 277172.48
Month 175 Total paid 517719.25 Remaining 275643.25
Month 176 Total paid 520403.36 Remaining 274107.65
Month 177 Total paid 523087.47 Remaining 272565.66
Month 178 Total paid 525771.58 Remaining 271017.24
Month 179 Total paid 528455.69 Remaining 269462.37
Month 180 Total paid 531139.8 Remaining 267901.02
Month 181 Total paid 533823.91 Remaining 266333.16
Month 182 Total paid 536508.02 Remaining 264758.77
Month 183 Total paid 539192.13 Remaining 263177.83
Month 184 Total paid 541876.24 Remaining 261590.29
Month 185 Total paid 544560.35 Remaining 259996.14
Month 186 Total paid 547244.46 Remaining 258395.35
Month 187 Total paid 549928.57 Remaining 256787.88
Month 188 Total paid 552612.68 Remaining 255173.72
Month 189 Total paid 555296.79 Remaining 253552.84
Month 190 Total paid 557980.9 Remaining 251925.2
Month 191 Total paid 560665.01 Remaining 250290.78
Month 192 Total paid 563349.12 Remaining 248649.54
Month 193 Total paid 566033.23 Remaining 247001.47
Month 194 Total paid 568717.34 Remaining 245346.54
Month 195 Total paid 571401.45 Remaining 243684.7
Month 196 Total paid 574085.56 Remaining 242015.95
Month 197 Total paid 576769.67 Remaining 240340.24
Month 198 Total paid 579453.78 Remaining 238657.54
Month 199 Total paid 582137.89 Remaining 236967.84
Month 200 Total paid 584822.0 Remaining 235271.1
Month 201 Total paid 587506.11 Remaining 233567.28
Month 202 Total paid 590190.22 Remaining 231856.37
Month 203 Total paid 592874.33 Remaining 230138.33
Month 204 Total paid 595558.44 Remaining 228413.13
Month 205 Total paid 598242.55 Remaining 226680.74
Month 206 Total paid 600926.66 Remaining 224941.13
Month 207 Total paid 603610.77 Remaining 223194.28
Month 208 Total paid 606294.88 Remaining 221440.14
Month 209 Total paid 608978.99 Remaining 219678.7
Month 210 Total paid 611663.1 Remaining 217909.92
Month 211 Total paid 614347.21 Remaining 216133.77
Month 212 Total paid 617031.32 Remaining 214350.21
Month 213 Total paid 619715.43 Remaining 212559.23
Month 214 Total paid 622399.54 Remaining 210760.78
Month 215 Total paid 625083.65 Remaining 208954.84
Month 216 Total paid 627767.76 Remaining 207141.38
Month 217 Total paid 630451.87 Remaining 205320.36
Month 218 Total paid 633135.98 Remaining 203491.75
Month 219 Total paid 635820.09 Remaining 201655.52
Month 220 Total paid 638504.2 Remaining 199811.64
Month 221 Total paid 641188.31 Remaining 197960.08
Month 222 Total paid 643872.42 Remaining 196100.8
Month 223 Total paid 646556.53 Remaining 194233.78
Month 224 Total paid 649240.64 Remaining 192358.98
Month 225 Total paid 651924.75 Remaining 190476.36
Month 226 Total paid 654608.86 Remaining 188585.91
Month 227 Total paid 657292.97 Remaining 186687.57
Month 228 Total paid 659977.08 Remaining 184781.33
Month 229 Total paid 662661.19 Remaining 182867.14
Month 230 Total paid 665345.3 Remaining 180944.97
Month 231 Total paid 668029.41 Remaining 179014.8
Month 232 Total paid 670713.52 Remaining 177076.59
Month 233 Total paid 673397.63 Remaining 175130.3
Month 234 Total paid 676081.74 Remaining 173175.9
Month 235 Total paid 678765.85 Remaining 171213.35
Month 236 Total paid 681449.96 Remaining 169242.63
Month 237 Total paid 684134.07 Remaining 167263.7
Month 238 Total paid 686818.18 Remaining 165276.52
Month 239 Total paid 689502.29 Remaining 163281.06
Month 240 Total paid 692186.4 Remaining 161277.29
Month 241 Total paid 694870.51 Remaining 159265.17
Month 242 Total paid 697554.62 Remaining 157244.66
Month 243 Total paid 700238.73 Remaining 155215.74
Month 244 Total paid 702922.84 Remaining 153178.36
Month 245 Total paid 705606.95 Remaining 151132.5
Month 246 Total paid 708291.06 Remaining 149078.1
Month 247 Total paid 710975.17 Remaining 147015.15
Month 248 Total paid 713659.28 Remaining 144943.61
Month 249 Total paid 716343.39 Remaining 142863.43
Month 250 Total paid 719027.5 Remaining 140774.58
Month 251 Total paid 721711.61 Remaining 138677.03
Month 252 Total paid 724395.72 Remaining 136570.74
Month 253 Total paid 727079.83 Remaining 134455.68
Month 254 Total paid 729763.94 Remaining 132331.8
Month 255 Total paid 732448.05 Remaining 130199.07
Month 256 Total paid 735132.16 Remaining 128057.46
Month 257 Total paid 737816.27 Remaining 125906.92
Month 258 Total paid 740500.38 Remaining 123747.42
Month 259 Total paid 743184.49 Remaining 121578.93
Month 260 Total paid 745868.6 Remaining 119401.4
Month 261 Total paid 748552.71 Remaining 117214.79
Month 262 Total paid 751236.82 Remaining 115019.08
Month 263 Total paid 753920.93 Remaining 112814.21
Month 264 Total paid 756605.04 Remaining 110600.16
Month 265 Total paid 759289.15 Remaining 108376.89
Month 266 Total paid 761973.26 Remaining 106144.35
Month 267 Total paid 764657.37 Remaining 103902.51
Month 268 Total paid 767341.48 Remaining 101651.32
Month 269 Total paid 770025.59 Remaining 99390.76
Month 270 Total paid 772709.7 Remaining 97120.78
Month 271 Total paid 775393.81 Remaining 94841.34
Month 272 Total paid 778077.92 Remaining 92552.4
Month 273 Total paid 780762.03 Remaining 90253.93
Month 274 Total paid 783446.14 Remaining 87945.87
Month 275 Total paid 786130.25 Remaining 85628.2
Month 276 Total paid 788814.36 Remaining 83300.88
Month 277 Total paid 791498.47 Remaining 80963.86
Month 278 Total paid 794182.58 Remaining 78617.09
Month 279 Total paid 796866.69 Remaining 76260.56
Month 280 Total paid 799550.8 Remaining 73894.2
Month 281 Total paid 802234.91 Remaining 71517.98
Month 282 Total paid 804919.02 Remaining 69131.86
Month 283 Total paid 807603.13 Remaining 66735.8
Month 284 Total paid 810287.24 Remaining 64329.76
Month 285 Total paid 812971.35 Remaining 61913.69
Month 286 Total paid 815655.46 Remaining 59487.55
Month 287 Total paid 818339.57 Remaining 57051.31
Month 288 Total paid 821023.68 Remaining 54604.91
Month 289 Total paid 823707.79 Remaining 52148.32
Month 290 Total paid 826391.9 Remaining 49681.5
Month 291 Total paid 829076.01 Remaining 47204.39
Month 292 Total paid 831760.12 Remaining 44716.97
Month 293 Total paid 834444.23 Remaining 42219.18
Month 294 Total paid 837128.34 Remaining 39710.98
Month 295 Total paid 839812.45 Remaining 37192.33
Month 296 Total paid 842496.56 Remaining 34663.19
Month 297 Total paid 845180.67 Remaining 32123.51
Month 298 Total paid 847864.78 Remaining 29573.25
Month 299 Total paid 850548.89 Remaining 27012.36
Month 300 Total paid 853233.0 Remaining 24440.8
Month 301 Total paid 855917.11 Remaining 21858.53
Month 302 Total paid 858601.22 Remaining 19265.5
Month 303 Total paid 861285.33 Remaining 16661.66
Month 304 Total paid 863969.44 Remaining 14046.97
Month 305 Total paid 866653.55 Remaining 11421.39
Month 306 Total paid 869337.66 Remaining 8784.87
Month 307 Total paid 872021.77 Remaining 6137.36
Month 308 Total paid 874705.88 Remaining 3478.83
Month 309 Total paid 877389.99 Remaining 809.21
Month 310 Total paid 880074.1 Remaining -1871.53
Months 310

In [20]:
880074.1-1871.53

878202.57

In [21]:
%run mortgage.py

Month 1 Total paid 2684.11 Remaining 499399.22
Month 2 Total paid 5368.22 Remaining 498795.94
Month 3 Total paid 8052.33 Remaining 498190.15
Month 4 Total paid 10736.44 Remaining 497581.83
Month 5 Total paid 13420.55 Remaining 496970.98
Month 6 Total paid 16104.66 Remaining 496357.58
Month 7 Total paid 18788.77 Remaining 495741.63
Month 8 Total paid 21472.88 Remaining 495123.11
Month 9 Total paid 24156.99 Remaining 494502.01
Month 10 Total paid 26841.1 Remaining 493878.33
Month 11 Total paid 29525.21 Remaining 493252.04
Month 12 Total paid 32209.32 Remaining 492623.15
Month 13 Total paid 34893.43 Remaining 491991.64
Month 14 Total paid 37577.54 Remaining 491357.49
Month 15 Total paid 40261.65 Remaining 490720.7
Month 16 Total paid 42945.76 Remaining 490081.26
Month 17 Total paid 45629.87 Remaining 489439.16
Month 18 Total paid 48313.98 Remaining 488794.38
Month 19 Total paid 50998.09 Remaining 488146.91
Month 20 Total paid 53682.2 Remaining 487496.75
Month 21 Total paid 56366.31 Remaining 486843.87
Month 22 Total paid 59050.42 Remaining 486188.28
Month 23 Total paid 61734.53 Remaining 485529.96
Month 24 Total paid 64418.64 Remaining 484868.89
Month 25 Total paid 67102.75 Remaining 484205.06
Month 26 Total paid 69786.86 Remaining 483538.47
Month 27 Total paid 72470.97 Remaining 482869.11
Month 28 Total paid 75155.08 Remaining 482196.95
Month 29 Total paid 77839.19 Remaining 481522.0
Month 30 Total paid 80523.3 Remaining 480844.23
Month 31 Total paid 83207.41 Remaining 480163.64
Month 32 Total paid 85891.52 Remaining 479480.21
Month 33 Total paid 88575.63 Remaining 478793.93
Month 34 Total paid 91259.74 Remaining 478104.8
Month 35 Total paid 93943.85 Remaining 477412.79
Month 36 Total paid 96627.96 Remaining 476717.9
Month 37 Total paid 99312.07 Remaining 476020.11
Month 38 Total paid 101996.18 Remaining 475319.42
Month 39 Total paid 104680.29 Remaining 474615.81
Month 40 Total paid 107364.4 Remaining 473909.27
Month 41 Total paid 110048.51 Remaining 473199.78
Month 42 Total paid 112732.62 Remaining 472487.33
Month 43 Total paid 115416.73 Remaining 471771.92
Month 44 Total paid 118100.84 Remaining 471053.53
Month 45 Total paid 120784.95 Remaining 470332.14
Month 46 Total paid 123469.06 Remaining 469607.75
Month 47 Total paid 126153.17 Remaining 468880.34
Month 48 Total paid 128837.28 Remaining 468149.89
Month 49 Total paid 131521.39 Remaining 467416.41
Month 50 Total paid 134205.5 Remaining 466679.87
Month 51 Total paid 136889.61 Remaining 465940.26
Month 52 Total paid 139573.72 Remaining 465197.56
Month 53 Total paid 142257.83 Remaining 464451.78
Month 54 Total paid 144941.94 Remaining 463702.88
Month 55 Total paid 147626.05 Remaining 462950.87
Month 56 Total paid 150310.16 Remaining 462195.72
Month 57 Total paid 152994.27 Remaining 461437.43
Month 58 Total paid 155678.38 Remaining 460675.97
Month 59 Total paid 158362.49 Remaining 459911.34
Month 60 Total paid 161046.6 Remaining 459143.53
Month 61 Total paid 164730.71 Remaining 457372.52
Month 62 Total paid 168414.82 Remaining 455594.13
Month 63 Total paid 172098.93 Remaining 453808.33
Month 64 Total paid 175783.04 Remaining 452015.09
Month 65 Total paid 179467.15 Remaining 450214.37
Month 66 Total paid 183151.26 Remaining 448406.16
Month 67 Total paid 186835.37 Remaining 446590.4
Month 68 Total paid 190519.48 Remaining 444767.09
Month 69 Total paid 194203.59 Remaining 442936.17
Month 70 Total paid 197887.7 Remaining 441097.63
Month 71 Total paid 201571.81 Remaining 439251.43
Month 72 Total paid 205255.92 Remaining 437397.53
Month 73 Total paid 208940.03 Remaining 435535.91
Month 74 Total paid 212624.14 Remaining 433666.54
Month 75 Total paid 216308.25 Remaining 431789.37
Month 76 Total paid 219992.36 Remaining 429904.38
Month 77 Total paid 223676.47 Remaining 428011.54
Month 78 Total paid 227360.58 Remaining 426110.81
Month 79 Total paid 231044.69 Remaining 424202.16
Month 80 Total paid 234728.8 Remaining 422285.56
Month 81 Total paid 238412.91 Remaining 420360.97
Month 82 Total paid 242097.02 Remaining 418428.37
Month 83 Total paid 245781.13 Remaining 416487.71
Month 84 Total paid 249465.24 Remaining 414538.97
Month 85 Total paid 253149.35 Remaining 412582.1
Month 86 Total paid 256833.46 Remaining 410617.08
Month 87 Total paid 260517.57 Remaining 408643.88
Month 88 Total paid 264201.68 Remaining 406662.45
Month 89 Total paid 267885.79 Remaining 404672.77
Month 90 Total paid 271569.9 Remaining 402674.79
Month 91 Total paid 275254.01 Remaining 400668.5
Month 92 Total paid 278938.12 Remaining 398653.84
Month 93 Total paid 282622.23 Remaining 396630.79
Month 94 Total paid 286306.34 Remaining 394599.3
Month 95 Total paid 289990.45 Remaining 392559.36
Month 96 Total paid 293674.56 Remaining 390510.91
Month 97 Total paid 297358.67 Remaining 388453.93
Month 98 Total paid 301042.78 Remaining 386388.38
Month 99 Total paid 304726.89 Remaining 384314.22
Month 100 Total paid 308411.0 Remaining 382231.42
Month 101 Total paid 312095.11 Remaining 380139.94
Month 102 Total paid 315779.22 Remaining 378039.75
Month 103 Total paid 319463.33 Remaining 375930.8
Month 104 Total paid 323147.44 Remaining 373813.07
Month 105 Total paid 326831.55 Remaining 371686.52
Month 106 Total paid 330515.66 Remaining 369551.1
Month 107 Total paid 334199.77 Remaining 367406.79
Month 108 Total paid 337883.88 Remaining 365253.54
Month 109 Total paid 340567.99 Remaining 364091.32
Month 110 Total paid 343252.1 Remaining 362924.25
Month 111 Total paid 345936.21 Remaining 361752.33
Month 112 Total paid 348620.32 Remaining 360575.52
Month 113 Total paid 351304.43 Remaining 359393.81
Month 114 Total paid 353988.54 Remaining 358207.17
Month 115 Total paid 356672.65 Remaining 357015.59
Month 116 Total paid 359356.76 Remaining 355819.05
Month 117 Total paid 362040.87 Remaining 354617.52
Month 118 Total paid 364724.98 Remaining 353410.98
Month 119 Total paid 367409.09 Remaining 352199.41
Month 120 Total paid 370093.2 Remaining 350982.8
Month 121 Total paid 372777.31 Remaining 349761.12
Month 122 Total paid 375461.42 Remaining 348534.35
Month 123 Total paid 378145.53 Remaining 347302.47
Month 124 Total paid 380829.64 Remaining 346065.45
Month 125 Total paid 383513.75 Remaining 344823.28
Month 126 Total paid 386197.86 Remaining 343575.93
Month 127 Total paid 388881.97 Remaining 342323.39
Month 128 Total paid 391566.08 Remaining 341065.63
Month 129 Total paid 394250.19 Remaining 339802.62
Month 130 Total paid 396934.3 Remaining 338534.36
Month 131 Total paid 399618.41 Remaining 337260.81
Month 132 Total paid 402302.52 Remaining 335981.95
Month 133 Total paid 404986.63 Remaining 334697.76
Month 134 Total paid 407670.74 Remaining 333408.23
Month 135 Total paid 410354.85 Remaining 332113.32
Month 136 Total paid 413038.96 Remaining 330813.02
Month 137 Total paid 415723.07 Remaining 329507.29
Month 138 Total paid 418407.18 Remaining 328196.13
Month 139 Total paid 421091.29 Remaining 326879.5
Month 140 Total paid 423775.4 Remaining 325557.39
Month 141 Total paid 426459.51 Remaining 324229.77
Month 142 Total paid 429143.62 Remaining 322896.62
Month 143 Total paid 431827.73 Remaining 321557.91
Month 144 Total paid 434511.84 Remaining 320213.63
Month 145 Total paid 437195.95 Remaining 318863.74
Month 146 Total paid 439880.06 Remaining 317508.23
Month 147 Total paid 442564.17 Remaining 316147.07
Month 148 Total paid 445248.28 Remaining 314780.24
Month 149 Total paid 447932.39 Remaining 313407.71
Month 150 Total paid 450616.5 Remaining 312029.47
Month 151 Total paid 453300.61 Remaining 310645.48
Month 152 Total paid 455984.72 Remaining 309255.73
Month 153 Total paid 458668.83 Remaining 307860.18
Month 154 Total paid 461352.94 Remaining 306458.82
Month 155 Total paid 464037.05 Remaining 305051.62
Month 156 Total paid 466721.16 Remaining 303638.56
Month 157 Total paid 469405.27 Remaining 302219.61
Month 158 Total paid 472089.38 Remaining 300794.75
Month 159 Total paid 474773.49 Remaining 299363.95
Month 160 Total paid 477457.6 Remaining 297927.19
Month 161 Total paid 480141.71 Remaining 296484.45
Month 162 Total paid 482825.82 Remaining 295035.69
Month 163 Total paid 485509.93 Remaining 293580.89
Month 164 Total paid 488194.04 Remaining 292120.04
Month 165 Total paid 490878.15 Remaining 290653.09
Month 166 Total paid 493562.26 Remaining 289180.04
Month 167 Total paid 496246.37 Remaining 287700.85
Month 168 Total paid 498930.48 Remaining 286215.49
Month 169 Total paid 501614.59 Remaining 284723.94
Month 170 Total paid 504298.7 Remaining 283226.18
Month 171 Total paid 506982.81 Remaining 281722.18
Month 172 Total paid 509666.92 Remaining 280211.92
Month 173 Total paid 512351.03 Remaining 278695.36
Month 174 Total paid 515035.14 Remaining 277172.48
Month 175 Total paid 517719.25 Remaining 275643.25
Month 176 Total paid 520403.36 Remaining 274107.65
Month 177 Total paid 523087.47 Remaining 272565.66
Month 178 Total paid 525771.58 Remaining 271017.24
Month 179 Total paid 528455.69 Remaining 269462.37
Month 180 Total paid 531139.8 Remaining 267901.02
Month 181 Total paid 533823.91 Remaining 266333.16
Month 182 Total paid 536508.02 Remaining 264758.77
Month 183 Total paid 539192.13 Remaining 263177.83
Month 184 Total paid 541876.24 Remaining 261590.29
Month 185 Total paid 544560.35 Remaining 259996.14
Month 186 Total paid 547244.46 Remaining 258395.35
Month 187 Total paid 549928.57 Remaining 256787.88
Month 188 Total paid 552612.68 Remaining 255173.72
Month 189 Total paid 555296.79 Remaining 253552.84
Month 190 Total paid 557980.9 Remaining 251925.2
Month 191 Total paid 560665.01 Remaining 250290.78
Month 192 Total paid 563349.12 Remaining 248649.54
Month 193 Total paid 566033.23 Remaining 247001.47
Month 194 Total paid 568717.34 Remaining 245346.54
Month 195 Total paid 571401.45 Remaining 243684.7
Month 196 Total paid 574085.56 Remaining 242015.95
Month 197 Total paid 576769.67 Remaining 240340.24
Month 198 Total paid 579453.78 Remaining 238657.54
Month 199 Total paid 582137.89 Remaining 236967.84
Month 200 Total paid 584822.0 Remaining 235271.1
Month 201 Total paid 587506.11 Remaining 233567.28
Month 202 Total paid 590190.22 Remaining 231856.37
Month 203 Total paid 592874.33 Remaining 230138.33
Month 204 Total paid 595558.44 Remaining 228413.13
Month 205 Total paid 598242.55 Remaining 226680.74
Month 206 Total paid 600926.66 Remaining 224941.13
Month 207 Total paid 603610.77 Remaining 223194.28
Month 208 Total paid 606294.88 Remaining 221440.14
Month 209 Total paid 608978.99 Remaining 219678.7
Month 210 Total paid 611663.1 Remaining 217909.92
Month 211 Total paid 614347.21 Remaining 216133.77
Month 212 Total paid 617031.32 Remaining 214350.21
Month 213 Total paid 619715.43 Remaining 212559.23
Month 214 Total paid 622399.54 Remaining 210760.78
Month 215 Total paid 625083.65 Remaining 208954.84
Month 216 Total paid 627767.76 Remaining 207141.38
Month 217 Total paid 630451.87 Remaining 205320.36
Month 218 Total paid 633135.98 Remaining 203491.75
Month 219 Total paid 635820.09 Remaining 201655.52
Month 220 Total paid 638504.2 Remaining 199811.64
Month 221 Total paid 641188.31 Remaining 197960.08
Month 222 Total paid 643872.42 Remaining 196100.8
Month 223 Total paid 646556.53 Remaining 194233.78
Month 224 Total paid 649240.64 Remaining 192358.98
Month 225 Total paid 651924.75 Remaining 190476.36
Month 226 Total paid 654608.86 Remaining 188585.91
Month 227 Total paid 657292.97 Remaining 186687.57
Month 228 Total paid 659977.08 Remaining 184781.33
Month 229 Total paid 662661.19 Remaining 182867.14
Month 230 Total paid 665345.3 Remaining 180944.97
Month 231 Total paid 668029.41 Remaining 179014.8
Month 232 Total paid 670713.52 Remaining 177076.59
Month 233 Total paid 673397.63 Remaining 175130.3
Month 234 Total paid 676081.74 Remaining 173175.9
Month 235 Total paid 678765.85 Remaining 171213.35
Month 236 Total paid 681449.96 Remaining 169242.63
Month 237 Total paid 684134.07 Remaining 167263.7
Month 238 Total paid 686818.18 Remaining 165276.52
Month 239 Total paid 689502.29 Remaining 163281.06
Month 240 Total paid 692186.4 Remaining 161277.29
Month 241 Total paid 694870.51 Remaining 159265.17
Month 242 Total paid 697554.62 Remaining 157244.66
Month 243 Total paid 700238.73 Remaining 155215.74
Month 244 Total paid 702922.84 Remaining 153178.36
Month 245 Total paid 705606.95 Remaining 151132.5
Month 246 Total paid 708291.06 Remaining 149078.1
Month 247 Total paid 710975.17 Remaining 147015.15
Month 248 Total paid 713659.28 Remaining 144943.61
Month 249 Total paid 716343.39 Remaining 142863.43
Month 250 Total paid 719027.5 Remaining 140774.58
Month 251 Total paid 721711.61 Remaining 138677.03
Month 252 Total paid 724395.72 Remaining 136570.74
Month 253 Total paid 727079.83 Remaining 134455.68
Month 254 Total paid 729763.94 Remaining 132331.8
Month 255 Total paid 732448.05 Remaining 130199.07
Month 256 Total paid 735132.16 Remaining 128057.46
Month 257 Total paid 737816.27 Remaining 125906.92
Month 258 Total paid 740500.38 Remaining 123747.42
Month 259 Total paid 743184.49 Remaining 121578.93
Month 260 Total paid 745868.6 Remaining 119401.4
Month 261 Total paid 748552.71 Remaining 117214.79
Month 262 Total paid 751236.82 Remaining 115019.08
Month 263 Total paid 753920.93 Remaining 112814.21
Month 264 Total paid 756605.04 Remaining 110600.16
Month 265 Total paid 759289.15 Remaining 108376.89
Month 266 Total paid 761973.26 Remaining 106144.35
Month 267 Total paid 764657.37 Remaining 103902.51
Month 268 Total paid 767341.48 Remaining 101651.32
Month 269 Total paid 770025.59 Remaining 99390.76
Month 270 Total paid 772709.7 Remaining 97120.78
Month 271 Total paid 775393.81 Remaining 94841.34
Month 272 Total paid 778077.92 Remaining 92552.4
Month 273 Total paid 780762.03 Remaining 90253.93
Month 274 Total paid 783446.14 Remaining 87945.87
Month 275 Total paid 786130.25 Remaining 85628.2
Month 276 Total paid 788814.36 Remaining 83300.88
Month 277 Total paid 791498.47 Remaining 80963.86
Month 278 Total paid 794182.58 Remaining 78617.09
Month 279 Total paid 796866.69 Remaining 76260.56
Month 280 Total paid 799550.8 Remaining 73894.2
Month 281 Total paid 802234.91 Remaining 71517.98
Month 282 Total paid 804919.02 Remaining 69131.86
Month 283 Total paid 807603.13 Remaining 66735.8
Month 284 Total paid 810287.24 Remaining 64329.76
Month 285 Total paid 812971.35 Remaining 61913.69
Month 286 Total paid 815655.46 Remaining 59487.55
Month 287 Total paid 818339.57 Remaining 57051.31
Month 288 Total paid 821023.68 Remaining 54604.91
Month 289 Total paid 823707.79 Remaining 52148.32
Month 290 Total paid 826391.9 Remaining 49681.5
Month 291 Total paid 829076.01 Remaining 47204.39
Month 292 Total paid 831760.12 Remaining 44716.97
Month 293 Total paid 834444.23 Remaining 42219.18
Month 294 Total paid 837128.34 Remaining 39710.98
Month 295 Total paid 839812.45 Remaining 37192.33
Month 296 Total paid 842496.56 Remaining 34663.19
Month 297 Total paid 845180.67 Remaining 32123.51
Month 298 Total paid 847864.78 Remaining 29573.25
Month 299 Total paid 850548.89 Remaining 27012.36
Month 300 Total paid 853233.0 Remaining 24440.8
Month 301 Total paid 855917.11 Remaining 21858.53
Month 302 Total paid 858601.22 Remaining 19265.5
Month 303 Total paid 861285.33 Remaining 16661.66
Month 304 Total paid 863969.44 Remaining 14046.97
Month 305 Total paid 866653.55 Remaining 11421.39
Month 306 Total paid 869337.66 Remaining 8784.87
Month 307 Total paid 872021.77 Remaining 6137.36
Month 308 Total paid 874705.88 Remaining 3478.83
Month 309 Total paid 877389.99 Remaining 809.21
Month 310 Total paid 878199.2 Remaining 0.0
Total paid 878199.2
Months 310

In [25]:
bool('p')

True

In [26]:
bool('False')
#Any object whose value is not undefined or null, including a Boolean object whose value is false, evaluates to true when passed to a conditional statement.

True

# Section 1.4: Strings

In [27]:
# Single quote
a = 'Yeah but no but yeah but...'

# Double quote
b = "computer says no"

# Triple quotes
c = '''
Look into my eyes, look into my eyes, the eyes, the eyes, the eyes,
not around the eyes,
don't look around the eyes,
look into my eyes, you're under.
'''

In [28]:
a

'Yeah but no but yeah but...'

In [29]:
b

'computer says no'

In [30]:
c

"\nLook into my eyes, look into my eyes, the eyes, the eyes, the eyes,\nnot around the eyes,\ndon't look around the eyes,\nlook into my eyes, you're under.\n"

In [31]:
print(c)

Look into my eyes, look into my eyes, the eyes, the eyes, the eyes,
not around the eyes,
don't look around the eyes,
look into my eyes, you're under.

In [32]:
d='hi \t hello?'

In [33]:
d

'hi \t hello?'

In [34]:
print(d)

hi 	 hello?

In [2]:
d='hi \r hello??'
print(d)

 hello??

In [1]:
a  = "This is  two line \rI love it"
print(a)

I love ittwo line

In [9]:
c="This is a\r I love"
print(c)

 I love a

In [10]:
a='\xf1'
a

'ñ'

In [11]:
d = '\N{FOR ALL}'

In [12]:
print(d)

∀

In [13]:
a='Hello world'

In [14]:
a[0]

'H'

In [15]:
a[1]

'e'

In [16]:
a[0:1]

'H'

In [17]:
a[0:2]

'He'

In [18]:
a[0:]

'Hello world'

In [19]:
a[:1]

'H'

In [20]:
a[:5]

'Hello'

In [21]:
a[3:8]

'lo wo'

In [22]:
a[-1]

'd'

In [23]:
a[-0]

'H'

In [24]:
a[-1]

'd'

In [25]:
a[-5]

'w'

In [26]:
a[-5:]

'world'

In [28]:
a[-5:-3]

'wo'

In [29]:
a[-3:-5]

''

In [30]:
a[:-3]

'Hello wo'

In [31]:
a='Hello'+'World'
a

'HelloWorld'

In [59]:
b='Say '+a
print(b)
print(a)

Say HelloWorld
HelloWorld

In [34]:
len(b)

14

In [35]:
'e' in b

True

In [36]:
'E' in b

False

In [37]:
'x' in b

False

In [39]:
'e' not in b

False

In [40]:
b*5

'Say HelloWorldSay HelloWorldSay HelloWorldSay HelloWorldSay HelloWorld'

In [41]:
b+5

TypeError: can only concatenate str (not "int") to str

In [42]:
b.strip()

'Say HelloWorld'

In [46]:
s='  Hello    '
s

'  Hello    '

In [47]:
s.strip()

'Hello'

In [48]:
s='Hello'
s.lower()

'hello'

In [49]:
s.upper()

'HELLO'

In [50]:
str.upper(s)

'HELLO'

In [52]:
str.find(s,'t')

-1

In [56]:
s.find(t)

NameError: name 't' is not defined

In [60]:
%%script false --no-raise-error #doesnt run cell
1+1

In [63]:
s.endswith('o')

True

In [64]:
str.endswith(s,'o')

True

In [65]:
s.find('o')

4

In [66]:
s.find('p')

-1

In [67]:
s[-1]

'o'

In [68]:
str.find(s,'p') #return -1 on failure

-1

In [69]:
s.index('o')

4

In [70]:
s.index('p')

ValueError: substring not found

In [71]:
s.join?

Signature: s.join(iterable, /)
Docstring:
Concatenate any number of strings.

The string whose method is called is inserted in between each given string.
The result is returned as a new string.

Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
Type:      builtin_function_or_method

In [72]:
s.join(['ab','cd','ef'])

'abHellocdHelloef'

In [73]:
str.join(s,['ab',1])

TypeError: sequence item 1: expected str instance, int found

In [74]:
str.join(s,['ab','1'])

'abHello1'

In [75]:
s='Hello world'
s[1]

'e'

In [76]:
s[1]=a

TypeError: 'str' object does not support item assignment

In [77]:
str(42)

'42'

In [78]:
data=b'Hello wORLD'

In [79]:
data

b'Hello wORLD'

In [80]:
len(data)

11

In [81]:
data[0:5]

b'Hello'

In [82]:
data[1:5]

b'ello'

In [83]:
data[0]

72

In [84]:
data[1]

101

In [85]:
data=b'Hello World\r\n'

In [86]:
print(data)

b'Hello World\r\n'

In [87]:
text=data.decode()

In [88]:
text.encode()

b'Hello World\r\n'

In [89]:
rs='c:\newdata\test'

In [90]:
rs

'c:\newdata\test'

In [91]:
rs1=r'c:\newdata\test'

In [92]:
print(rs1)

c:\newdata\test

In [93]:
print(rs)

c:
ewdata	est

In [94]:
name='IBM'
shares=100
price=91.1

In [95]:
a=f'{name:>10s} {shares:10d} {price:10.2f}'
a

'       IBM        100      91.10'

In [97]:
b = f'Cost = ${shares*price:0.2f}'
b

'Cost = $9110.00'

In [98]:
c=f'Cost=${shares*price}'

In [99]:
c

'Cost=$9110.0'

In [100]:
symbols='AAPL,IBM,MSFT,YHOO,SCO'
symbols

'AAPL,IBM,MSFT,YHOO,SCO'

In [101]:
symbols[0]

'A'

In [102]:
symbols[1]

'A'

In [103]:
symbols[2]

'P'

In [104]:
symbols[-1]

'O'

In [105]:
symbols[-2]

'C'

In [106]:
symbols

'AAPL,IBM,MSFT,YHOO,SCO'

In [107]:
symbols[1:]

'APL,IBM,MSFT,YHOO,SCO'

In [108]:
symbols[:1]

'A'

In [109]:
symbols[:2]

'AA'

In [110]:
symbols[1:3]

'AP'

In [118]:
symbols='AAPL,IBM,MSFT,YHOO,SCO'
symbols=symbols+'GOOG'
symbols

'AAPL,IBM,MSFT,YHOO,SCOGOOG'

In [119]:
symbols='AAPL,IBM,MSFT,YHOO,SCO'
symbols=symbols+',GOOG'
symbols

'AAPL,IBM,MSFT,YHOO,SCO,GOOG'

In [115]:
symbols='HPQ,'+symbols
symbols

'HPQ,APPL,IBM,MSFT,YHOO,SCO,GOOG'

In [120]:
'IBM' in symbols

True

In [121]:
'AA' in symbols

True

In [122]:
'CAT' in symbols

False

In [123]:
symbols.lower()

'aapl,ibm,msft,yhoo,sco,goog'

In [124]:
symbols

'AAPL,IBM,MSFT,YHOO,SCO,GOOG'

In [125]:
lowersyms=symbols.lower()

In [128]:
symbols

'AAPL,IBM,MSFT,YHOO,SCO,GOOG'

In [ ]:
symbols.find('MSFT')

In [129]:
symbols[13:17]

',YHO'

In [131]:
symbols=symbols.replace('SCO','DOA')

In [132]:
symbols

'AAPL,IBM,MSFT,YHOO,DOA,GOOG'

In [133]:
symbols.replace('OO','12')

'AAPL,IBM,MSFT,YH12,DOA,G12G'

In [134]:
name = '   IBM   \n'

In [135]:
name

'   IBM   \n'

In [136]:
name.strip()

'IBM'

In [137]:
import re

In [138]:
text = 'Today is 3/27/2018. Tomorrow is 3/28/2018.'

In [139]:
re.findall(r'\d+/\d+/\d+', text)

['3/27/2018', '3/28/2018']

In [142]:
re.sub(r'(\d+)/(\d+)/(\d+)', r'\3-\1-\2', text)

'Today is 2018-3-27. Tomorrow is 2018-3-28.'

In [143]:
re.sub?

Signature: re.sub(pattern, repl, string, count=0, flags=0)
Docstring:
Return the string obtained by replacing the leftmost
non-overlapping occurrences of the pattern in string by the
replacement repl.  repl can be either a string or a callable;
if a string, backslash escapes in it are processed.  If it is
a callable, it's passed the Match object and must return
a replacement string to be used.
File:      /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/re.py
Type:      function

In [144]:
help(re.sub)

Help on function sub in module re:

sub(pattern, repl, string, count=0, flags=0)
    Return the string obtained by replacing the leftmost
    non-overlapping occurrences of the pattern in string by the
    replacement repl.  repl can be either a string or a callable;
    if a string, backslash escapes in it are processed.  If it is
    a callable, it's passed the Match object and must return
    a replacement string to be used.

In [146]:
dir(text)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 1.5 Lists

In [1]:
names=['Elwood','Jake','Curtis']
nums=[39,38,42,65,111]

In [2]:
names

['Elwood', 'Jake', 'Curtis']

In [4]:
line='GOOG,100,490.10'
row=str.split(line,',')
row

['GOOG', '100', '490.10']

In [5]:
line.split(',')

['GOOG', '100', '490.10']

In [6]:
names.append('Murphy')

In [7]:
names

['Elwood', 'Jake', 'Curtis', 'Murphy']

In [8]:
names.insert('Aretha')

TypeError: insert expected 2 arguments, got 1

In [13]:
list.insert?

Signature: list.insert(self, index, object, /)
Docstring: Insert object before index.
Type:      method_descriptor

In [14]:
list.insert(names,2,'Aretha')

In [15]:
names

['Elwood', 'Jake', 'Aretha', 'Curtis', 'Murphy']

In [16]:
s=[1,2,3]
t=['a','b']
s+t

[1, 2, 3, 'a', 'b']

In [18]:
s+=t

In [19]:
s

[1, 2, 3, 'a', 'b']

In [20]:
names[0]

'Elwood'

In [21]:
names[2]

'Aretha'

In [22]:
names

['Elwood', 'Jake', 'Aretha', 'Curtis', 'Murphy']

In [23]:
names[-1]

'Murphy'

In [24]:
names[1]='Joilet Jake'

In [25]:
names

['Elwood', 'Joilet Jake', 'Aretha', 'Curtis', 'Murphy']

In [26]:
len(names)

5

In [27]:
'Elwood' in names

True

In [28]:
'Britney' in names

False

In [29]:
'E' not in names

True

In [30]:
s

[1, 2, 3, 'a', 'b']

In [31]:
s*3

[1, 2, 3, 'a', 'b', 1, 2, 3, 'a', 'b', 1, 2, 3, 'a', 'b']

In [32]:
for name in names:
    print(name)

Elwood
Joilet Jake
Aretha
Curtis
Murphy

In [34]:
for i in s:
    print(i)

1
2
3
a
b

In [40]:
type(s)

list

In [41]:
s

[1, 2, 3, 'a', 'b']

In [42]:
s.index('a')

3

In [43]:
s.index(2)

1

In [44]:
list.index(s,'a')

3

In [45]:
names.remove('Curtis')

In [46]:
names

['Elwood', 'Joilet Jake', 'Aretha', 'Murphy']

In [47]:
names.remove('Karim')

ValueError: list.remove(x): x not in list

In [48]:
names.remove('Murphy')

In [49]:
names

['Elwood', 'Joilet Jake', 'Aretha']

In [50]:
del names[1]

In [52]:
names

['Elwood', 'Aretha']

In [53]:
s=[10,1,7,3]
s.sort()

In [54]:
s

[1, 3, 7, 10]

In [56]:
s.sort(reverse=True)

In [57]:
s

[10, 7, 3, 1]

In [58]:
s.append('a')

In [59]:
s

[10, 7, 3, 1, 'a']

In [60]:
s.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [61]:
s=['ab','ac','bar','sop','soap']
s.sort()

In [62]:
s

['ab', 'ac', 'bar', 'soap', 'sop']

In [65]:
del t

In [66]:
t=[1,9,8]

In [67]:
x=t.sort()

In [68]:
x

In [69]:
t=[1,9,8]

In [70]:
x=sorted(t)

In [71]:
sorted(t)

[1, 8, 9]

In [72]:
nums=[1,2,3,3,4]
nums*2

[1, 2, 3, 3, 4, 1, 2, 3, 3, 4]

In [73]:
nums+[10,11]

[1, 2, 3, 3, 4, 10, 11]

In [74]:
symbols='HPQ,AAPL,IBM,MSFT,YHOO,DOA,GOOG'

In [76]:
symlist=symbols.split(',')
symlist

['HPQ', 'AAPL', 'IBM', 'MSFT', 'YHOO', 'DOA', 'GOOG']

In [77]:
symlist[0]

'HPQ'

In [78]:
symlist[-1]

'GOOG'

In [79]:
symlist[2]=='AIG'

False

In [80]:
symlist[2]='AIG'

In [81]:
symlist

['HPQ', 'AAPL', 'AIG', 'MSFT', 'YHOO', 'DOA', 'GOOG']

In [82]:
symlist[0:3]

['HPQ', 'AAPL', 'AIG']

In [83]:
symlist[-2:]

['DOA', 'GOOG']

In [84]:
s=list()

In [85]:
s.append('abc')

In [86]:
s

['abc']

In [87]:
symlist

['HPQ', 'AAPL', 'AIG', 'MSFT', 'YHOO', 'DOA', 'GOOG']

In [88]:
symlist[-2:]=s

In [89]:
symlist

['HPQ', 'AAPL', 'AIG', 'MSFT', 'YHOO', 'abc']

In [90]:
for s in symlist:
    print('s =',s)

s = HPQ
s = AAPL
s = AIG
s = MSFT
s = YHOO
s = abc

In [91]:
symlist.append(1)

In [92]:
for s in symlist:
    print('s =',s)

s = HPQ
s = AAPL
s = AIG
s = MSFT
s = YHOO
s = abc
s = 1

In [93]:
'AIG' in symlist

True

In [94]:
'AA' in symlist

False

In [95]:
'CAT' in symlist

False

In [96]:
symlist.append('RHT')

In [97]:
symlist

['HPQ', 'AAPL', 'AIG', 'MSFT', 'YHOO', 'abc', 1, 'RHT']

In [98]:
symlist.insert(1,'AA')
symlist

['HPQ', 'AA', 'AAPL', 'AIG', 'MSFT', 'YHOO', 'abc', 1, 'RHT']

In [99]:
symlist.remove('MSFT')

In [100]:
symlist

['HPQ', 'AA', 'AAPL', 'AIG', 'YHOO', 'abc', 1, 'RHT']

In [101]:
symlist.append('YHOO')

In [102]:
symlist

['HPQ', 'AA', 'AAPL', 'AIG', 'YHOO', 'abc', 1, 'RHT', 'YHOO']

In [103]:
symlist.index('YHOO')

4

In [104]:
symlist.count('YHOO')

2

In [105]:
symlist.remove('YHOO')

In [106]:
symlist

['HPQ', 'AA', 'AAPL', 'AIG', 'abc', 1, 'RHT', 'YHOO']

In [107]:
symlist.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [108]:
symlist.remove(1)

In [110]:
symlist.sort()

In [112]:
symlist

['AA', 'AAPL', 'AIG', 'HPQ', 'RHT', 'YHOO', 'abc']

In [113]:
symlist.sort(reverse=True)

In [114]:
symlist

['abc', 'YHOO', 'RHT', 'HPQ', 'AIG', 'AAPL', 'AA']

In [115]:
a=','.join(symlist)
a

'abc,YHOO,RHT,HPQ,AIG,AAPL,AA'

In [116]:
b=':a'.join(symlist)

In [117]:
b

'abc:aYHOO:aRHT:aHPQ:aAIG:aAAPL:aAA'

In [118]:
c=''.join(symlist)
c

'abcYHOORHTHPQAIGAAPLAA'

In [119]:
nums=[102,103,104]
items=['spam',symlist,nums]
items

['spam', ['abc', 'YHOO', 'RHT', 'HPQ', 'AIG', 'AAPL', 'AA'], [102, 103, 104]]

In [120]:
items[0]

'spam'

In [121]:
items[1]

['abc', 'YHOO', 'RHT', 'HPQ', 'AIG', 'AAPL', 'AA']

In [122]:
items[0][1]

'p'

In [123]:
items[1][1]

'YHOO'

In [125]:
items[1][1][1]

'H'

In [128]:
items[2][1]

103

# 1.6 : File Management

In [2]:
f=open('foo.txt','rt')

FileNotFoundError: [Errno 2] No such file or directory: 'foo.txt'

In [3]:
pwd

'/Users/karimbadr/practical-python/Work'

In [9]:
f=open('foo.txt','rt')

In [6]:
g=open('bar.txt','wt')

In [7]:
f

In [10]:
data=f.read()

In [11]:
data

'Hello!\nThis is a file.'

In [12]:
g.write('Testing123')

10

In [13]:
f.close()

In [17]:
g.close()

In [20]:
with open('foo.txt','rt') as file:
    data=file.read()

In [21]:
with open('bar.txt','rt') as file:
    for line in file:
        print(line)

Testing123

text1

In [22]:
with open('outfile','wt') as out:
    out.write('Hello world\n')

In [23]:
with open('outfile1','wt') as out:
    print('Hello world 123',file=out)

In [24]:
import os
os.getcwd()

'/Users/karimbadr/practical-python/Work'

In [26]:
ls

Chapter1.ipynb  bar.txt         foo.txt         outfile         report.py
Data/           bounce.py       hello.py        outfile1        sears.py
README.md       fileparse.py    mortgage.py     pcost.py

In [30]:
with open('Data/portfolio.csv','rt') as file1:
    data=file1.read()

In [31]:
data

'name,shares,price\n"AA",100,32.20\n"IBM",50,91.10\n"CAT",150,83.44\n"MSFT",200,51.23\n"GE",95,40.37\n"MSFT",50,65.10\n"IBM",100,70.44\n'

In [32]:
print(data)

name,shares,price
"AA",100,32.20
"IBM",50,91.10
"CAT",150,83.44
"MSFT",200,51.23
"GE",95,40.37
"MSFT",50,65.10
"IBM",100,70.44

In [33]:
with open('Data/portfolio.csv','at') as file2:
    file2.write('123')

In [35]:
with open('Data/portfolio.csv','rt') as file:
    for line in file:
        print(line,end='')

name,shares,price
"AA",100,32.20
"IBM",50,91.10
"CAT",150,83.44
"MSFT",200,51.23
"GE",95,40.37
"MSFT",50,65.10
"IBM",100,70.44

In [58]:
f=open('Data/portfolio.csv','rt')

In [59]:
headers=next(f)
headers

'name,shares,price\n'

In [60]:
for line in f:
    print(line,end='')

"AA",100,32.20
"IBM",50,91.10
"CAT",150,83.44
"MSFT",200,51.23
"GE",95,40.37
"MSFT",50,65.10
"IBM",100,70.44

In [61]:
f.close()

In [66]:
g=open('Data/portfolio.csv','rt')
headers=next(g).split(',')
headers

['name', 'shares', 'price\n']

In [67]:
for line in g:
    row=line.split(',')
    print(row)

['"AA"', '100', '32.20\n']
['"IBM"', '50', '91.10\n']
['"CAT"', '150', '83.44\n']
['"MSFT"', '200', '51.23\n']
['"GE"', '95', '40.37\n']
['"MSFT"', '50', '65.10\n']
['"IBM"', '100', '70.44']

In [68]:
g.close()

In [70]:
with open('Data/portfolio.csv','rt') as file:
    header=next(file)
    for line in file:
        row=line.split(',')
        print(row)

['"AA"', '100', '32.20\n']
['"IBM"', '50', '91.10\n']
['"CAT"', '150', '83.44\n']
['"MSFT"', '200', '51.23\n']
['"GE"', '95', '40.37\n']
['"MSFT"', '50', '65.10\n']
['"IBM"', '100', '70.44']

In [71]:
next(file)

ValueError: I/O operation on closed file.

In [97]:
with open('Data/portfolio.csv','rt') as file:
    header=next(file)
    total_cost=0.0
    for line in file:
        row=line.split(',')
        total_cost=total_cost+(float(row[1])*float(row[2]))
    print('Total cost is',total_cost)

Total cost is 44671.15

In [98]:
pwd

'/Users/karimbadr/practical-python/Work'

In [102]:
%run '/Users/karimbadr/practical-python/Solutions/1_27/pcost.py'

Total cost 44671.15

In [103]:
import gzip
with gzip.open('Data/portfolio.csv.gz','rt') as f:
    for line in f:
        print(line,end='')

name,shares,price
"AA",100,32.20
"IBM",50,91.10
"CAT",150,83.44
"MSFT",200,51.23
"GE",95,40.37
"MSFT",50,65.10
"IBM",100,70.44

In [104]:
import gzip
with gzip.open('Data/portfolio.csv.gz') as f:
    for line in f:
        print(line,end='')

b'name,shares,price\n'b'"AA",100,32.20\n'b'"IBM",50,91.10\n'b'"CAT",150,83.44\n'b'"MSFT",200,51.23\n'b'"GE",95,40.37\n'b'"MSFT",50,65.10\n'b'"IBM",100,70.44\n'

# 1.7 : Functions

In [107]:
def sumcount(n):
    '''
    Returns the sum of the first n integers
    '''
    total=0
    while n>0:
        total+=n
        n-=1
    return total

In [108]:
sumcount(100)

5050

In [109]:
a=sumcount(10000)

In [110]:
import math
x=math.sqrt(10)
x

3.1622776601683795

In [118]:
import urllib.request

In [119]:
u=urllib.request.urlopen('http://www.python.org')

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:997)>

In [120]:
int('N/A')

ValueError: invalid literal for int() with base 10: 'N/A'

In [135]:
g=open('Data/portfolio.csv','rt')
for line in g:
    fields=line.split()
    try:
        shares=int(fields[0])
    except ValueError:
        print("Couldn't parse", line)

Couldn't parse name,shares,price

Couldn't parse "AA",100,32.20

Couldn't parse "IBM",50,91.10

Couldn't parse "CAT",150,83.44

Couldn't parse "MSFT",200,51.23

Couldn't parse "GE",95,40.37

Couldn't parse "MSFT",50,65.10

Couldn't parse "IBM",100,70.44

In [131]:
for line in g:
    fields=line.split()

In [132]:
fields

['"IBM",100,70.44']

In [133]:
fields[0]

'"IBM",100,70.44'

In [134]:
fields[1]

IndexError: list index out of range

In [136]:
raise RuntimeError('wHAT A KERFUFFLE!')

RuntimeError: wHAT A KERFUFFLE!

In [138]:
%run foo.py

Exception: File `'foo.py'` not found.

In [139]:
def greeting(name):
    'Issues a greeting'
    print('Hello',name)

In [140]:
greeting('Guido')

Hello Guido

In [141]:
help(greeting)

Help on function greeting in module __main__:

greeting(name)
    Issues a greeting

In [145]:
def portfolio_cost(filename):
    with open(filename,'rt') as file:
        header=next(file)
        total_cost=0.0
        for line in file:
            row=line.split(',')
            total_cost=total_cost+(float(row[1])*float(row[2]))
    return(total_cost)

In [147]:
cost=portfolio_cost('Data/portfolio.csv')
print('Total cost:',cost)

Total cost: 44671.15

In [161]:
def remainder(a: str, b: str)-> float:
    return(a+b)

In [162]:
help(remainder)

Help on function remainder in module __main__:

remainder(a: str, b: str) -> float

In [163]:
remainder(1,2)

3

In [158]:
float(3)

3.0

In [165]:
portfolio_cost('Data/missing.csv')

ValueError: could not convert string to float: ''

In [1]:
import csv
f=open('Data/portfolio.csv')
rows=csv.reader(f)

In [2]:
headers=next(rows)
headers

['name', 'shares', 'price']

In [3]:
for row in rows:
    print(row)

['AA', '100', '32.20']
['IBM', '50', '91.10']
['CAT', '150', '83.44']
['MSFT', '200', '51.23']
['GE', '95', '40.37']
['MSFT', '50', '65.10']
['IBM', '100', '70.44']

In [5]:
f.close()

In [6]:
pwd

'/Users/karimbadr/practical-python/Work'

In [7]:
%run pcost.py

Total cost: 44671.15

In [9]:
%run pcost.py

Total cost: 44671.15

In [10]:
%run pcost.py

Bad row: ['MSFT', '', '51.23']
Bad row: ['IBM', '', '70.44']
Total cost: 27381.15

In [11]:
len(sys.argv)

11

In [12]:
sys.argv

['/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/ipykernel_launcher.py',
 '--ip=127.0.0.1',
 '--stdin=9003',
 '--control=9001',
 '--hb=9000',
 '--Session.signature_scheme="hmac-sha256"',
 '--Session.key=b"35cb64b6-7f50-4bf8-8d6b-8a6e0abcff6d"',
 '--shell=9002',
 '--transport="tcp"',
 '--iopub=9004',
 '--f=/Users/karimbadr/Library/Jupyter/runtime/kernel-v2-333350bwHBm7W0Bpu.json']